.linkActivity{
    text-decoration: none;    
    color: black;
}

a:hover{
    color: navy;
}

#Activty{
    display: flex;
}

.modalContenido{
    background-image: url('../assets/WorldMap.svg');
    background-color: azure;
    width:700px;
    height: 500px;
    padding: 10px 20px;
    margin: 2% auto;
    position: relative;
}

.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 3;

}

.modal:target{
    opacity:1;
    pointer-events:auto;
}

.modalContenido p{
    background-color: azure;
}

.linkActivity{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    padding-bottom: 15px;
    border-bottom: 2px #582626 solid;
    padding-left: 15px;
    font-family: serif;
    font-weight: bold;
    font-size:medium;
    color: #582626;

}

@media(max-width:550px){
    
    .modalContenido{
        width: 380px;
        height: 700px;
    }

}