.all{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    border: 5px #2f4858 solid;
    padding: 10%;
    border-radius: 10%;
}

.cuadro{
    width: 146.1px;
}

.cuadro img{
    max-width: 146.1px;
    max-height: 105px;
}

.info {
    display: flex;
    align-items: center;
    margin: 0;
}

.info h4{
    margin: 3px 0 3px 0;
}

