.gridContainer {
  display: grid;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  grid-template-columns: 0.4fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: 0.3fr 0.70fr 1fr 1fr 1fr 1fr 0.5fr 0.1fr;
  gap: 0px 0px;

}

.Nav { grid-area: 1 / 1 / 2 / 6; }

.Imagenes { grid-area: 2 / 1 / 3 / 6; }

.Footer { grid-area: 8 / 1 / 9 / 6; }

.Body1 { grid-area: 4 / 2 / 5 / 3; }

.Body2 { grid-area: 4 / 3 / 5 / 4; }

.Body3 { grid-area: 4 / 4 / 5 / 5; }

.Body4 { grid-area: 5 / 2 / 6 / 3; }

.Body5 { grid-area: 5 / 3 / 6 / 4; }

.Body6 { grid-area: 5 / 4 / 6 / 5; }

.Body7 { grid-area: 6 / 2 / 7 / 3; }

.Body8 { grid-area: 6 / 3 / 7 / 4; }

.Body9 { grid-area: 6 / 4 / 7 / 5; }

.Body { grid-area: 4 / 2 / 7 / 5; }

.Search { grid-area: 3 / 2 / 4 / 5; }

.Paginacion { grid-area: 7 / 2 / 8 / 5; }

.nada { grid-area: 3 / 1 / 8 / 2; }

.nada2 { grid-area: 3 / 5 / 8 / 6; }



.Nav{
  box-shadow: 0 10px 20px -5px rgba(119, 63, 63, 0.125);
}

.Body { 
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: -1;
  padding-left: 5px;
}

.Body::before {
  content: "";
  background-image: url('../assets/Sprinkle.svg');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;   
}

.Body1, .Body2, .Body3, .Body4, .Body5, .Body6, .Body7, .Body8, .Body9{
  display: flex;
  width: 266px;
  height: 409px;
  padding: 20px 0 0 20px;
}

.nada,.nada2{
  background-color: #fff4ee;
  opacity: 0.75;
}

.Footer{
  background-color: #19262e;
}

.Search{
  background-color: #2f4858;
  color: white;
}

.Imagenes{
  border-bottom: 2px solid  #2f4858;
}

.Content{
  display: flex;
}

@media(max-width:1100px){

  .Body1, .Body2, .Body3, .Body4, .Body5, .Body6, .Body7, .Body8, .Body9{

    padding: 10px 10px 0 0;
  }

}


@media(max-width:800px){
  
  .nada,.nada2{
    display: none;
  }

}
@media(max-width:550px){
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.70fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.1fr;
  
  }
  .Nav { grid-area: 1 / 1 / 2 / 2; }
  .Imagenes { grid-area: 2 / 1 / 3 / 2; }
  .Search { grid-area: 3 / 1 / 4 / 2; }
  .Body { grid-area: 4 / 1 / 13 / 2; }
  .Body1 { grid-area: 4 / 1 / 5 / 2; }
  .Body2 { grid-area: 5 / 1 / 6 / 2; }
  .Body3 { grid-area: 6 / 1 / 7 / 2; }
  .Body4 { grid-area: 7 / 1 / 8 / 2; }
  .Body5 { grid-area: 8 / 1 / 9 / 2; }
  .Body6 { grid-area: 9 / 1 / 10 / 2; }
  .Body7 { grid-area: 10 / 1 / 11 / 2; }
  .Body8 { grid-area: 11 / 1 / 12 / 2; }
  .Body9 { grid-area: 12 / 1 / 13 / 2; }
  .Paginacion { grid-area: 13 / 1 / 14 / 2; }
  .Footer { grid-area: 14 / 1 / 15 / 2; }

  
  
}