.gridContainer {
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 0.6fr 0.4fr 0.4fr 0.1fr;
    grid-template-rows: 0.5fr 0.2fr 1fr 1fr 1fr 1fr 0.2fr 0.4fr;
    gap: 5px 5px;
    grid-template-areas:
      "Nav Nav Nav Nav Nav Nav"
      "nada nada nada nada nada nada"
      "nada2 Map Map Info Info nada3"
      "nada2 Map Map Info Info nada3"
      "nada2 Simbolos Simbolos Info Info nada3"
      "nada2 Simbolos Simbolos Info Info nada3"
      "nada4 nada4 nada4 nada4 nada4 nada4"
      "Footer Footer Footer Footer Footer Footer";
  }
  
  .Nav { grid-area: Nav; }
  
  .nada { grid-area: nada; }
  
  .nada2 { grid-area: nada2; }
  
  .nada3 { grid-area: nada3; }
  
  .Footer { grid-area: Footer; }
  
  .nada4 { grid-area: nada4; }
  
  .Map { grid-area: MAP; }
  
  .Info { grid-area: Info; }
  
  .Simbolos { grid-area: Simbolos; }
  