label{
    background-color: azure;
    padding: 5px;
}

.gridContainer{
    padding: 5px;
}

.countries{
    margin-bottom: 4px;
}

.seleccion input{
    width: 60%;
}

.form{
    display: flex;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.actividad{
    display: flex;
    margin-bottom: 4px;
}

.actividad input{
    width: 30.7%;
}

.dificultad{
    display: flex;
    margin-bottom: 4px;
}

.duracion{
    display: flex;
    margin-bottom: 4px;
}

.temporada{
    display: flex;
    margin-bottom: 4px; 
}

.submit{
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.submit button {
    margin-top: -10px;
    border: none;
    background-color: #2f4858;
    color: azure;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    transition: 0.3 ease all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.submit button span {
    position: relative;
    z-index: 2;
    transition: 0.3 ease all;
}

.submit button::after {
    content: "";
    width: 150px;
    height: 100%;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    background: rgba(54, 1, 1, 0.959);
    position: absolute;
    z-index: 1;
    left: -149px;
    bottom: 0;
    transition: 0.3s ease-in-out all;
  }
  
  .submit button:hover::after {
    left: 0;
  }

.seleccion button {
    border: none;
    background-color: #2f4858;
    color: azure;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    transition: 0.3 ease all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.seleccion button span {
    position: relative;
    z-index: 2;
    transition: 0.3 ease all;
}

.seleccion button::after {
    content: "";
    width: 80px;
    height: 100%;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    background: rgba(54, 1, 1, 0.959);
    position: absolute;
    z-index: 1;
    left: -80px;
    bottom: 0;
    transition: 0.3s ease-in-out all;
  }
  
.seleccion button:hover::after {
    left: 0;
  }

.agregados{
    height: 15px;
    margin: 0;
}

.warning{
    margin: 0;
}

.warning p{
    margin: 0 !important;
    font-size: xx-small;
    color: #581515;
    width: fit-content;
}

@media(max-width:550px){
    
}