.all{
    display: flex;
    
}

.linkCountries{
    text-decoration: none;
}

.contFig{
    margin: 0;
    margin-left: 5%;
    width: 180px;
    height: 125;
}

.contFig img{
    height: 120px;
}


.links{
    display: flex;
    width: 100%;
    justify-content:space-around;
}

.home{
    width: 250px;
    height: 100%;
    text-decoration: none;
    text-decoration-line: none;
}

.home p{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    padding-bottom: 15px;
    padding-right: -15px;
    border-bottom: 2px #582626 solid;
    font-family: serif;
    font-weight: bold;
    font-size: medium;
    color: #582626;
}

.home p:hover {
    color: navy;
}

.activity{
    width: 250px;
}

.adicion{
    display: flex;
    height: 100%;
    width: 100%; 
    background-color: #582626;
    clip-path: ellipse(100% 99% at 100% 100%);
}

.visual {
    display: flex;
    width: 100px;
    height: 100%;
}

.iconos {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    width: 100px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
}

.sun {
    background-color: #f9f871;
    border-radius: 50%;
    width: 20px;
}

.adicion2{
    height: 100%;
    width: 100%;
    background-color: white;
    clip-path: ellipse(100% 75% at 100% 100%);

}


.adicion3{
    height: 100%;
    width: 100%;
    background-color: #062331;
    clip-path: ellipse(100% 50% at 100% 100%);
}


.adicion4{
    height: 100%;
    width: 100%;
    background-color: white;
    clip-path: ellipse(100% 25% at 100% 100%);
}


/* DARK ELEMENTS */

.allDark {
    display: flex;
    background-color: black;
}

.homeDark{
    width: 250px;
    height: 100%;
    text-decoration: none;
    text-decoration-line: none;
}

.homeDark p{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    padding-bottom: 15px;
    padding-right: -15px;
    border-bottom: 2px #00cfe5 solid;
    font-family: serif;
    font-weight: bold;
    font-size: medium;
    color: #00cfe5;
}

.homeDark p:hover {
    color: white;
}

.adicionDark {
    display: flex;
    height: 100%;
    width: 100%; 
    background-color: #00cfe5;
    clip-path: ellipse(100% 99% at 100% 100%);
}

.adicion2Dark {
    height: 100%;
    width: 100%;
    background-color: black;
    clip-path: ellipse(100% 75% at 100% 100%);

}


.adicion3Dark {
    height: 100%;
    width: 100%;
    background-color: #FF8B0B;
    clip-path: ellipse(100% 50% at 100% 100%);
}


.adicion4Dark {
    height: 100%;
    width: 100%;
    background-color: black;
    clip-path: ellipse(100% 25% at 100% 100%);
}


@media(max-width:700px) {
    .adicion{
        display: none;
    }
    .adicionDark{
        display: none;
    }
}





@media(max-width:700px) {

    .home{
        width: 200px;
        height: 100%;
    }
    .homeDark{
        width: 200px;
        height: 100%;
    }

    .activity{
        width: 200px;
    }
}

@media(max-width:550px) {

    .home{
        width: 100px;
        height: 100%;
    }
    .homeDark{
        width: 100px;
        height: 100%;
    }
    
    .home p {
        margin-left: 20px;
    }
    .homeDark p {
        margin-left: 20px;
    }

    .activity{
        width: 100px;
    }

    .activity p {
        padding-left: 10px;
    }

    .contFig{
        margin: 0;
        width: 100px;
        height: 125;
    }

    .contFig img{
        max-width: 120px;
        height: 120px;
    }
    
}

@media(max-width:450px) {

    .home {
        width: 60px;
        height: 100%;
        padding: 0;
        margin-left: -20px;
    }
    .homeDark {
        width: 60px;
        height: 100%;
        padding: 0;
        margin-left: -20px;
    }

    .activity{
        width: 80px;
        padding: 0;
        margin-left: -40px;
    }

    .contFig{
        margin: 0;
        width: 75px;
        height: 125;
    }


}